<!DOCTYPE>
<html>
<head>



<link rel="stylesheet" href="/static/style.css">
<title>Notice</title>

</head>
</body>

<h1>Payment Notices</h1><hr><h2>Waiting Notices</h2>{% for notice in notices %}
{% if notice.status == "waiting" %}

<div class="waiting-box"><h3>Notice #{{ notice.id }}</h3><p><strong>Name:</strong> {{ notice.name }}</p><p><strong>Amount:</strong> ₹{{ notice.amount }}</p>
<h4>Payment Proof</h4>

<p>
Transaction ID:
{{ notice.proof }}
</p>

{% if notice.proof_image_data %}
<a href="/notice_image/{{ notice.id }}" target="_blank">
    <img src="/notice_image/{{ notice.id }}" width="200">
</a>
{% endif %}
<p><strong>Note:</strong> {{ notice.note }}</p><p><strong>Status:</strong> Waiting</p><p><strong>Created:</strong> {{ notice.created_at }}</p><a href="/accept_notice/{{ notice.id }}">
<button type="button">
Accept
</button>
</a><form action="/reject_notice/{{ notice.id }}" method="post"><input
type="text"
name="reason"
placeholder="Reason for rejection"
required>

<button type="submit">
Reject
</button></form></div>{% endif %}
{% endfor %}

<hr><h2>Accepted Notices</h2>{% for notice in notices %}
{% if notice.status == "accepted" %}

<div class="accepted-box"><h3>Notice #{{ notice.id }}</h3><p><strong>Name:</strong> {{ notice.name }}</p><p><strong>Amount:</strong> ₹{{ notice.amount }}</p><p><strong>Proof:</strong> {{ notice.proof }}</p>
    
{% if notice.proof_image_data %}
<a href="/notice_image/{{ notice.id }}" target="_blank">
    <img src="/notice_image/{{ notice.id }}" width="200">
</a>
{% endif %}
    <p><strong>Note:</strong> {{ notice.note }}</p><p><strong>Status:</strong> Accepted</p><p><strong>Created:</strong> {{ notice.created_at }}</p>

</div>{% endif %}

{% endfor %}

<hr><h2>Rejected Notices</h2>{% for notice in notices %}
{% if notice.status == "rejected" %}

<div class="rejected-box"><h3>Notice #{{ notice.id }}</h3><p><strong>Name:</strong> {{ notice.name }}</p><p><strong>Amount:</strong> ₹{{ notice.amount }}</p><p><strong>Proof:</strong>{{ notice.proof }}
</p>
{% if notice.proof_image_data %}
<a href="/notice_image/{{ notice.id }}" target="_blank">
    <img src="/notice_image/{{ notice.id }}" width="200">
</a>
{% endif %}
    
    <p><strong>Note:</strong> {{ notice.note }}</p><p><strong>Status:</strong> Rejected</p><p><strong>Reason:</strong>
{{ notice.rejection_reason }}
</p><p><strong>Created:</strong> {{ notice.created_at }}</p>

</div>{%endif%}

{% endfor %}

</body>
</html>
