<!DOCTYPE html>

<html>

<head>

<link rel="stylesheet" href="/static/style.css">

<title>Payment Settings</title>

</head>

<body>

  <div class="settings-container">
    

<h1>💳 Payment Settings</h1>

<form
action="/save_payment_settings"
method="post"
enctype="multipart/form-data">

<label>

Payment Method

</label>

<br><br>

<select name="payment_mode">

<option value="UPI">
UPI
</option>

<option value="PhonePe">
PhonePe
</option>

<option value="Google Pay">
Google Pay
</option>

<option value="Paytm">
Paytm
</option>

<option value="Bank Account">
Bank Account
</option>

<option value="PayPal">
PayPal
</option>

  
<option value="wise">
wise
</option>

<option value="Payoneer">
Payoneer 
</option>
  

<option value="Cash">
Cash
</option>

<option value="Other">
Other
</option>

</select>

<br><br>

<input

type="text"

name="payment_info"

placeholder="UPI ID / Phone Number / Bank Details"

value="{{ setting.payment_info if setting else '' }}">

<br><br>

<label>

Upload QR Code (Optional)

</label>

  {% if setting and setting.qr_image %}

<img
src="/static/qr_codes/{{ setting.qr_image }}"
width="220">

{% endif %}

<br><br>

<input

type="file"

name="qr_image">

<br><br>

<button type="submit">

💾 Save Payment Settings

</button>

</form>

<hr>

<h2>

Don't have a digital wallet?

</h2>

<a href="https://play.google.com/store/apps/details?id=com.phonepe.app">

<button type="button">

📱 Download PhonePe

</button>

</a>

<br><br>

<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.nbu.paisa.user">

<button type="button">

📱 Download Google Pay

</button>

</a>

<br><br>

<a href="https://play.google.com/store/apps/details?id=net.one97.paytm">

<button type="button">

📱 Download Paytm

</button>

</a>

<br><br>

<a href="https://play.google.com/store/apps/details?id=in.org.npci.upiapp">

<button type="button">

📱 Download BHIM UPI

</button>

</a>

<br><br>

    <a href="https://www.paypal.com/" target="_blank">
    <button type="button">🌍 PayPal</button>
    </a>

    <br><br>

    <a href="https://wise.com/" target="_blank">
    <button type="button">🌍 Wise</button>
    </a>

    <br><br>

    <a href="https://www.payoneer.com/" target="_blank">
    <button type="button">🌍 Payoneer</button>
    </a>

  </div>

</body>

</html>
